In [107]:
import numpy as np
import pandas as pd
import scipy.stats as sts

In [108]:
## data
dataset = pd.read_csv('socialmobility.csv')

In [117]:
## displaying the first 4 entries
dataset.head()

      father           son  count
0       farm          farm    703
1       farm     unskilled   1478
2       farm       skilled   1430
3       farm  professional   1109
4  unskilled          farm     58

In [118]:
dataset

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [110]:
## prior hyperparameters
## probability vector, uniform distribution
p = [1,1,1,1]
## number of categories
k = len(p)

In [111]:
## posterior Dirichlet distribution
def dirichlet_posterior(prior, data):
    # making a tuple with prior and sample data, 
    # adding prior vector to a sample vector
    # saving as parameters
    parameters = [pr + sample for pr, sample in zip(prior, data)]
    return sts.dirichlet(parameters)

#### 1. What is the posterior 95% probability interval over the probability that a son will become a skilled laborer if his father was an unskilled laborer?

In [112]:
data1 = dataset.loc[dataset['father'] == 'unskilled']
prof_son_posterior = dirichlet_posterior(p, np.array(data1['count']))

In [130]:
data1.head()
## the index of needed transition is 2

      father           son  count
4  unskilled          farm     58
5  unskilled     unskilled   1756
6  unskilled       skilled   1630
7  unskilled  professional   1568

In [131]:
## picking samples from the posterior
## indexing [:, 2] as we choose unskilled -> skilled transition
print("95% Confidence Interval is:", np.quantile(prof_son_posterior.rvs(size=10000)[:, 2], 0.025), np.quantile(prof_son_posterior.rvs(size=10000)[:, 2], 0.975))

95% Confidence Interval is: 0.31216857677696674 0.3382446066098925

#### 2. What is the posterior 95% probability interval over the probability that a father works on a farm if his son works as a professional?

In [132]:
data2 = dataset.loc[dataset['son'] == 'professional']
farm_father_posterior = dirichlet_posterior(p, data2['count'])

In [133]:
data2.head()
## the index of needed transition is 0

          father           son  count
3           farm  professional   1109
7      unskilled  professional   1568
11       skilled  professional   2483
15  professional  professional   3315

In [134]:
## picking samples from the posterior
## indexing [:, 0] as we need professional -> farm transition
print("95% Confidence Interval is:", np.quantile(farm_father_posterior.rvs(size=10000)[:,0], 0.025), np.quantile(farm_father_posterior.rvs(size=10000)[:,0], 0.975))

95% Confidence Interval is: 0.12380777905202062 0.13810296154559565